body {
  margin: 0 0;
}
header {
  margin: 0;
  padding:0;
  width: 100%;
  height: 20rem;
  position: absolute;
  display: flex;
  background-color: #FEFEFE;
  border-top-style: solid;
  border-top-width: .75rem;
  border-top-color: #FF5C58;
  border-bottom-style: solid;
  border-bottom-width: .75rem;
  border-bottom-color: #39B42C;
  background: url(images/Logo.png) no-repeat;
  background-position: left;
  background-attachment: scroll;
  word-wrap:break-word;
}

.intro {
  background: url("images/worn_dots_2X.png");
}

header::after {
  position: absolute;
  border-top-style: solid;
  border-top-width: .75rem;
  border-top-color: #FF5C58;
  border-bottom-style: solid;
  border-bottom-width: .75rem;
  border-bottom-color: #39B42C;
}

.Logo {
  border: 0;
  margin-top: -2rem;
  margin-left: -1rem;
  width: 28rem;
  height: 25rem;
  display: inline-block;
  border-radius: 90%;
  opacity: 0.5;
}

.title {
padding-top: 11rem;
padding-left: 41rem;
font-size: 3rem;
color: #4e4e4e;
word-wrap:break-word;
}

.stellar {
  font-weight: bolder;
  color: #323232;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0;
  height: 1rem;
  position: absolute;
  right: 1rem;
}

.nav-item {
    display: inline-block;
    padding: 1rem;
}

footer {
  position: relative;
  background-color: grey;
  height: 20rem;
  top: 50rem;
}

.bottom-logo {
  height: 10rem;
  width: 10rem;
  border-radius: 90%;
  display: inline-block;
  position: absolute;
  top: 5rem;
  left: 125rem;
}
